{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{% firstof preferred_language LANGUAGE_CODE 'en' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FITRA | Online Coaching{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo-H.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>
